<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
            
    
    
    <extension point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
                        
        
        
        <file filePath="viewmodels/Accessor.view"/>
                        
        
        
        <file filePath="viewmodels/AccessType.view"/>
                        
        
        
        <file filePath="viewmodels/AccessTypeSet.view"/>
                        
        
        
        <file filePath="viewmodels/AddressSpace.view"/>
                        
        
        
        <file filePath="viewmodels/AddressSpaceSet.view"/>
                        
        
        
        <file filePath="viewmodels/Cache.view"/>
                        
        
        
        <file filePath="viewmodels/CommonInstructionSet.view"/>
                        
        
        
        <file filePath="viewmodels/CommunicationSet.view"/>
                        
        
        
        <file filePath="viewmodels/ComponentSet.view"/>
                        
        
        
        <file filePath="viewmodels/Connection.view"/>
                        
        
        
        <file filePath="viewmodels/ConnectionSet.view"/>
                        
        
        
        <file filePath="viewmodels/ContentionGroup.view"/>
                        
        
        
        <file filePath="viewmodels/ContentionGroupSet.view"/>
                        
        
        
        <file filePath="viewmodels/CustomInstruction.view"/>
                        
        
        
        <file filePath="viewmodels/DataRate.view"/>
                        
        
        
        <file filePath="viewmodels/EventCommunication.view"/>
                        
        
        
        <file filePath="viewmodels/FIFOCommunication.view"/>
                        
        
        
        <file filePath="viewmodels/FrequencyDomain.view"/>
                        
        
        
        <file filePath="viewmodels/FrequencyVoltageSet.view"/>
                        
        
        
        <file filePath="viewmodels/FunctionalUnit.view"/>
                        
        
        
        <file filePath="viewmodels/FunctionalUnitSet.view"/>
                        
        
        
        <file filePath="viewmodels/Instruction.view"/>
                        
        
        
        <file filePath="viewmodels/InstructionInput.view"/>
                        
        
        
        <file filePath="viewmodels/InstructionOperation.view"/>
                        
        
        
        <file filePath="viewmodels/InstructionOutput.view"/>
                        
        
        
        <file filePath="viewmodels/InterruptCommunication.view"/>
                        
        
        
        <file filePath="viewmodels/Latency.view"/>
                        
        
        
        <file filePath="viewmodels/MasterComponent.view"/>
                        
        
        
        <file filePath="viewmodels/MasterSlaveBinding.view"/>
                        
        
        
        <file filePath="viewmodels/MasterSlaveBindingSet.view"/>
                        
        
        
        <file filePath="viewmodels/MemoryConsistencyModel.view"/>
                        
        
        
        <file filePath="viewmodels/OperatingPoint.view"/>
                        
        
        
        <file filePath="viewmodels/OperatingPointSet.view"/>
                        
        
        
        <file filePath="viewmodels/Performance.view"/>
                        
        
        
        <file filePath="viewmodels/PerformanceSet.view"/>
                        
        
        
        <file filePath="viewmodels/Pitch.view"/>
                        
        
        
        <file filePath="viewmodels/PowerConfiguration.view"/>
                        
        
        
        <file filePath="viewmodels/PowerConsumption.view"/>
                        
        
        
        <file filePath="viewmodels/PowerConsumptionSet.view"/>
                        
        
        
        <file filePath="viewmodels/SharedMemoryCommunication.view"/>
                        
        
        
        <file filePath="viewmodels/SharedRegisterCommunication.view"/>
                        
        
        
        <file filePath="viewmodels/SlaveComponent.view"/>
                        
        
        
        <file filePath="viewmodels/SubSpace.view"/>
                        
        
        
        <file filePath="viewmodels/Shim.view"/>
                        
        
        
        <file filePath="viewmodels/Throughput.view"/>
                        
        
        
        <file filePath="viewmodels/VoltageDomain.view"/>
                        
    
    
    </extension>
                
    
    
    <extension point="org.eclipse.emf.ecp.view.template">
                                
        
        
        <viewTemplate xmi="templatemodels/default.template"/>
                            
    
    
    </extension>
            
    

    <extension point="org.eclipse.emf.ecp.view.template">
        <viewTemplate xmi="templatemodels/tab_view.template"/>
    </extension>
</plugin>
