<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated shim10 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Shim.presentation.ShimModelWizardID"
            name="%_UI_ShimModelWizard_label"
            class="Shim.presentation.ShimModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ShimModelFile.gif">
         <description>%_UI_ShimModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated shim10 -->
      <editor
            id="Shim.presentation.ShimEditorID"
            name="%_UI_ShimEditor_label"
            icon="icons/full/obj16/ShimModelFile.gif"
            extensions="shim"
            class="Shim.presentation.ShimEditor"
            contributorClass="Shim.presentation.ShimActionBarContributor">
      </editor>
   </extension>

</plugin>
